portal/trunk/plugins/plugin-ods/src/xjc/pied_de_page.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
 
<xs:element name="piedDePage">
 <xs:complexType>
  <xs:sequence>
    <xs:element name="entreePiedDePage" minOccurs="0" maxOccurs="unbounded">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="style" type="xs:string"/>
      <xs:element name="texteLibre" type="xs:string"/>
     </xs:sequence>
    </xs:complexType>
     </xs:element>
  </xs:sequence>
 </xs:complexType> 
</xs:element> 
</xs:schema>
           
