portal/trunk/plugins/plugin-ods/webapp/WEB-INF/conf/plugins/entete.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

<xs:element name="entete">
	<xs:complexType>
		<xs:sequence>
				<xs:element name="entreeEntete" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="style" type="xs:string"/>
						<xs:element name="texteLibre" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			  </xs:element>
		</xs:sequence>
	</xs:complexType>	
</xs:element>	
</xs:schema>
           