portal/trunk/plugins/plugin-ods/webapp/WEB-INF/conf/plugins/piedDePage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">

<xs:element name="piedDePage">
	<xs:complexType>
		<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="entreeEntete">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="style" type="xs:string"/>
						<xs:element name="texteLibre" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			  </xs:element>
		</xs:sequence>
	</xs:complexType>	
</xs:element>	
</xs:schema>
