portal/trunk/plugins/module-formengine-evac/src/xjc/fiche_adresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="typeAdresse" type="xs:string"/>
	<xs:element name="statutAdresse">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="O"/>
				<xs:enumeration value="N"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="numero" type="xs:integer"/>
	<xs:element name="natureAffectation" type="xs:string"/>
	<xs:element name="suffixe3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="suffixe2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="suffixe1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="b"/>
				<xs:enumeration value="t"/>
				<xs:enumeration value="q"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="majUser" type="xs:string"/>
	<xs:element name="identifiant" type="xs:positiveInteger"/>
	<xs:element name="idVoie" type="xs:short"/>
	<xs:element name="idParcelle" type="xs:short"/>
	<xs:element name="geometry" type="xs:string"/>
	<xs:element name="etatAdresse">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="valide"/>
				<xs:enumeration value="autre"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dateDecisionAffectation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dateMaj">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dateCreation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="commune">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="code_insee">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:totalDigits value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="adresse">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="identifiant"/>
				<xs:element ref="geometry"/>
				<xs:element ref="numero"/>
				<xs:element ref="suffixe1" minOccurs="0"/>
				<xs:element ref="suffixe2" minOccurs="0"/>
				<xs:element ref="suffixe3" minOccurs="0"/>
				<xs:element ref="natureAffectation" minOccurs="0"/>
				<xs:element ref="dateDecisionAffectation" minOccurs="0"/>
				<xs:element ref="dateMaj"/>
				<xs:element ref="dateCreation"/>
				<xs:element ref="majUser"/>
				<xs:element ref="etatAdresse"/>
				<xs:element ref="typeAdresse"/>
				<xs:element ref="statutAdresse"/>
				<xs:element ref="idVoie"/>
				<xs:element ref="idParcelle"/>
				<xs:element ref="commune"/>
				<xs:element ref="code_insee"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
