portal/trunk/plugins/module-formengine-evac/src/xjc/recherche_adresse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 rel. 3 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="adresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="adresse" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adresse">
		<xs:complexType>
			<xs:attribute name="identifiant" type="xs:positiveInteger" use="required"/>
			<xs:attribute name="typeVoie" type="xs:string" use="required"/>
			<xs:attribute name="numero" type="xs:short" use="required"/>
			<xs:attribute name="suffixe" type="xs:string" use="optional"/>
			<xs:attribute name="nomVoie" type="xs:string" use="required"/>
			<xs:attribute name="geometry" type="xs:string" use="required"/>
			<xs:attribute name="commune" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
